# Server
PORT=3001
NODE_ENV=development
BASE_URL=http://localhost:3001

# Database
MONGODB_URI=mongodb://localhost:27017/company-website

# CORS
CORS_ORIGIN=http://localhost:3000

#CLOUDINARY_CLOUD
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# GraphQL
GRAPHQL_PLAYGROUND=true

# File Upload
# Upload paths: ./uploads/images and ./uploads/documents
# Max sizes: Images 5MB, Documents 10MB
